@model MovieBringer.Core.Models.ViewModel.Home.HomePageViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- home -->
<section class="home">
    <!-- home bg -->
    <div class="owl-carousel home__bg">
        <div class="item home__cover" data-bg="Resource/MainHotFlix/img/home/homebg.jpg"></div>
        <div class="item home__cover" data-bg="Resource/MainHotFlix/img/home/home__bg2.jpg"></div>
        <div class="item home__cover" data-bg="Resource/MainHotFlix/img/home/home__bg3.jpg"></div>
        <div class="item home__cover" data-bg="Resource/MainHotFlix/img/home/home__bg4.jpg"></div>
        <div class="item home__cover" data-bg="Resource/MainHotFlix/img/home/home__bg5.jpg"></div>
    </div>
    <!-- end home bg -->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="home__title"><b>Trending</b> This Week</h1>

                <button class="home__nav home__nav--prev" type="button">
                    <i class="icon ion-ios-arrow-round-back"></i>
                </button>
                <button class="home__nav home__nav--next" type="button">
                    <i class="icon ion-ios-arrow-round-forward"></i>
                </button>
            </div>

            <div class="col-12">

                @if (Model.TrendingInWeeks != null)
                {
                    <div id="trendDiv" class="owl-carousel home__carousel home__carousel--bg">
                        @foreach (var movie in Model.TrendingInWeeks)
                        {
                            <div class="card card--big">
                                <div class="card__cover">
                                    @{ string url = "https://media.themoviedb.org/t/p/w300_and_h450_bestv2" + movie.poster_path;}
                                    <img src=@url alt="">
                                    <a asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.id" class="card__play">
                                        <i class="icon ion-ios-link"></i>
                                    </a>
                                    <span class="card__rate card__rate--green">@movie.vote_average.ToString("N1")</span>
                                </div>
                                <div class="card__content">
                                    <h3 class="card__title"><a asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.id">@movie.title</a></h3>
                                    <span class="card__category">
                                        <a href="#">@movie.release_date</a>

                                    </span>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <h3 class="card__title"> An error occurred while importing trending movies</h3>
                }


            </div>
        </div>
    </div>
</section>
<!-- end home -->
<!-- content -->
<section class="content">
    <div class="content__head">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- content title -->
                    <h1 class="home__title"><b>Now Playing</b> And More</h1>
                    <!-- end content title -->
                    <!-- content tabs nav -->
                    <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">NOW PLAYING</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">UPCOMING</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">POPULER</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">TOP RATED</a>
                        </li>
                    </ul>
                    <div class="col-6">

                    </div>
                    <div class="section__nav-wrap">
                        <a asp-controller="Movie" asp-action="Movies" class="section__view view-all-btn no-mobile">View All</a>
                    </div>

                    <!-- end content tabs nav -->
                    <!-- content mobile tabs nav -->
                    <div class="content__mobile-tabs" id="content__mobile-tabs">
                        <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <input type="button" value="New releases">
                            <span></span>
                        </div>
                        <div class="section__nav-wrap">
                            <a href="#" class="section__view view-all-btn mt-3">View All</a>
                        </div>
                        <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">NOW PLAYING</a></li>

                                <li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">UPCOMING</a></li>

                                <li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">POPULER</a></li>

                                <li class="nav-item"><a class="nav-link" id="4-tab" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">TOP RATED</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end content mobile tabs nav -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- content tabs -->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                <div class="row row--grid">

                    @if (Model.NowPlayings != null)
                    {
                        @foreach (var movie in Model.NowPlayings.Take(6))
                        {
                            string img = "https://media.themoviedb.org/t/p/w300_and_h450_bestv2" + movie.poster_path;
                            <!-- card -->
                            <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                                <div class="card">
                                    <div class="card__cover">
                                        <img src="@img" alt="">
                                        <a asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.id" class="card__play">
                                            <i class="icon ion-ios-link"></i>
                                        </a>
                                        <span class="card__rate card__rate--green">@movie.vote_average.ToString("N1")</span>
                                    </div>
                                    <div class="card__content">
                                        <h3 class="card__title"><a a asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.id">@movie.title</a></h3>
                                        <span class="card__category">
                                            <a href="#">@movie.release_date</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- end card -->
                        }
                    }
                    else
                    {
                        <h3 class="card__title ml-3"> An error occurred while importing now playing movies</h3>
                    }

                </div>
            </div>

            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
                <div class="row row--grid">
                    @if (Model.UpComing != null)
                    {
                        @foreach (var movie in Model.UpComing.Take(6))
                        {
                            string img = "https://media.themoviedb.org/t/p/w300_and_h450_bestv2" + movie.poster_path;
                            <!-- card -->
                            <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                                <div class="card">
                                    <div class="card__cover">
                                        <img src="@img" alt="">
                                        <a asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.id" class="card__play">
                                            <i class="icon ion-ios-link"></i>
                                        </a>
                                        <span class="card__rate card__rate--green">@movie.vote_average.ToString("N1")</span>
                                    </div>
                                    <div class="card__content">
                                        <h3 class="card__title"><a a asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.id">@movie.title</a></h3>
                                        <span class="card__category">
                                            <a href="#">@movie.release_date</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- end card -->
                        }
                    }
                    else
                    {
                        <h3 class="card__title ml-3"> An error occurred while importing upcoming movies</h3>
                    }

                </div>
            </div>

            <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
                <div class="row row--grid">
                    @if (Model.Popular != null)
                    {
                        @foreach (var movie in Model.Popular.Take(6))
                        {
                            string img = "https://media.themoviedb.org/t/p/w300_and_h450_bestv2" + movie.poster_path;
                            <!-- card -->
                            <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                                <div class="card">
                                    <div class="card__cover">
                                        <img src="@img" alt="">
                                        <a asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.id" class="card__play">
                                            <i class="icon ion-ios-link"></i>
                                        </a>
                                        <span class="card__rate card__rate--green">@movie.vote_average.ToString("N1")</span>
                                    </div>
                                    <div class="card__content">
                                        <h3 class="card__title"><a a asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.id">@movie.title</a></h3>
                                        <span class="card__category">
                                            <a href="#">@movie.release_date</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- end card -->
                        }
                    }
                    else
                    {
                        <h3 class="card__title ml-3"> An error occurred while importing populer movies</h3>
                    }

                </div>
            </div>

            <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="4-tab">
                <div class="row row--grid">
                    @if (Model.TopRated != null)
                    {
                        @foreach (var movie in Model.TopRated.Take(6))
                        {
                            string img = "https://media.themoviedb.org/t/p/w300_and_h450_bestv2" + movie.poster_path;
                            <!-- card -->
                            <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                                <div class="card">
                                    <div class="card__cover">
                                        <img src="@img" alt="">
                                        <a asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.id" class="card__play">
                                            <i class="icon ion-ios-link"></i>
                                        </a>
                                        <span class="card__rate card__rate--green">@movie.vote_average.ToString("N1")</span>
                                    </div>
                                    <div class="card__content">
                                        <h3 class="card__title"><a asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.id">@movie.title</a></h3>
                                        <span class="card__category">
                                            <a href="#">@movie.release_date</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- end card -->
                        }
                    }
                    else
                    {
                        <h3 class="card__title ml-3"> An error occurred while importing top-rated movies</h3>
                    }

                </div>
            </div>
        </div>
        <!-- end content tabs -->
    </div>
</section>
<!-- end content -->
<!-- section list1 most populer list -->
@if (Model.MostPopulerList != null)
{
    <section class="section section--border">
        <div class="container">
            <div class="row">
                <!-- section title -->
                <div class="col-12">
                    <div class="section__title-wrap">
                        <h2 class="section__title">Most Populer List:  <a style=" color: #f9ab00;" asp-controller="MovieList" asp-action="ListDetail" asp-route-listId="@Model.MostPopulerList.MovieListId" class="">@Model.MostPopulerList.ListName</a> added by:<a style=" color: #f9ab00;" asp-controller="Profile" asp-action="UserProfile" asp-route-userId="@Model.MostPopulerList.ListOwnerId" class="">@Model.MostPopulerList.ListOwner</a></h2>

                        <div class="section__nav-wrap">
                            <a asp-controller="MovieList" asp-action="ListDetail" asp-route-listId="@Model.MostPopulerList.MovieListId" class="section__view">Detail</a>

                            <button class="section__nav section__nav--prev" type="button" data-nav="#carousel1">
                                <i class="icon ion-ios-arrow-back"></i>
                            </button>

                            <button class="section__nav section__nav--next" type="button" data-nav="#carousel1">
                                <i class="icon ion-ios-arrow-forward"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- end section title -->
                <!-- carousel -->
                <div class="col-12">
                    <div class="owl-carousel section__carousel" id="carousel1">

                        @foreach (var movie in Model.MostPopulerList.MoviesInlist)
                        {
                            string img = "https://media.themoviedb.org/t/p/w300_and_h450_bestv2" + movie.MovieDetail.poster_path;
                            <div class="card">
                                <div class="card__cover">
                                    <img src="@img" alt="">
                                    <a asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.MovieDetail.id" class="card__play">
                                        <i class="icon ion-ios-link"></i>
                                    </a>
                                    <span class="card__rate card__rate--green">@movie.MovieDetail.vote_average.ToString("N1")</span>
                                </div>
                                <div class="card__content">
                                    <h3 class="card__title"><a asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.MovieDetail.id">@movie.MovieDetail.title</a></h3>
                                    <span class="card__category">
                                    </span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- carousel -->
            </div>
        </div>
    </section>
}

<!-- end section -->
<!-- section list2 recently added list -->
@if (Model.MostPopulerList != null)
{
    <section class="section section--border">
        <div class="container">
            <div class="row">
                <!-- section title -->
                <div class="col-12">
                    <div class="section__title-wrap">
                        <h2 class="section__title">Last Added List:  <a style=" color: #f9ab00;" asp-controller="MovieList" asp-action="ListDetail" asp-route-listId="@Model.LastAddedList.MovieListId" class="">@Model.LastAddedList.ListName</a> added by:<a style=" color: #f9ab00;" asp-controller="Profile" asp-action="UserProfile" asp-route-userId="@Model.LastAddedList.ListOwnerId" class="">@Model.LastAddedList.ListOwner</a></h2>

                        <div class="section__nav-wrap">
                            <a asp-controller="MovieList" asp-action="ListDetail" asp-route-listId="@Model.LastAddedList.MovieListId" class="section__view">Detail</a>

                            <button class="section__nav section__nav--prev" type="button" data-nav="#carousel1">
                                <i class="icon ion-ios-arrow-back"></i>
                            </button>

                            <button class="section__nav section__nav--next" type="button" data-nav="#carousel1">
                                <i class="icon ion-ios-arrow-forward"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- end section title -->
                <!-- carousel -->
                <div class="col-12">
                    <div class="owl-carousel section__carousel" id="carousel1">

                        @foreach (var movie in Model.LastAddedList.MoviesInlist)
                        {
                            string img = "https://media.themoviedb.org/t/p/w300_and_h450_bestv2" + movie.MovieDetail.poster_path;
                            <div class="card">
                                <div class="card__cover">
                                    <img src="@img" alt="">
                                    <a asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.MovieDetail.id" class="card__play">
                                        <i class="icon ion-ios-link"></i>
                                    </a>
                                    <span class="card__rate card__rate--green">@movie.MovieDetail.vote_average.ToString("N1")</span>
                                </div>
                                <div class="card__content">
                                    <h3 class="card__title"><a asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.MovieDetail.id">@movie.MovieDetail.title</a></h3>
                                    <span class="card__category">
                                    </span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- carousel -->
            </div>
        </div>
    </section>
}

